Debug
hiredis.tlog
/RedisHelperCpp/Debug/RedisHelperCpp.tlog
/testConsole/obj
obj
*.opendb
HyTestBuilder.VC.db
*.pdb
IndustrialEthernetEntity.pdb
/TestForm/bin/Debug/*.pdb
*.a
*._
*.nupkg
*.p7s
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.deps.json
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.OpenXmlFormats.deps.json
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.OpenXml4Net.deps.json
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.OOXML.deps.json
/packages/NPOI.2.4.1
/HyTestRTDataService/bin/Debug/HyTestEthercatDriver.dll
/HyTestEtherCAT/bin/Release
Release
/ipch/EXPORTCLASS-2543e071/*.ipch
/.vs/HyTestBuilder/v16/Browse.VC.db
/.vs/HyTestBuilder/v16/Server/sqlite3/db.lock
/.vs/HyTestBuilder/v16/Server/sqlite3/storage.ide
/.vs/HyTestBuilder/v16/Server/sqlite3/storage.ide-shm
/.vs/HyTestBuilder/v16/Server/sqlite3/storage.ide-wal
/.vs/HyTestBuilder/v16/Solution.VC.db
/.vs/HyTestBuilder/v16/Solution.VC.db-shm
/.vs/HyTestBuilder/v16/Solution.VC.db-wal
/.vs/HyTestBuilder/v16/ipch/6f0b6c26f0738155.ipch
/.vs/HyTestBuilder/v16/ipch/AutoPCH/2caeda63da94f11a/CONTEXT.ipch
/.vs/HyTestBuilder/v16/ipch/AutoPCH/41a674b741126ce0/SLAVECONFIGSYSTEM.ipch
/.vs/HyTestBuilder/v16/ipch/AutoPCH/9910c020f605bbc1/SLAVEWRITEMANAGER.ipch
/.vs/HyTestBuilder/v16/ipch/AutoPCH/a37180a1bffdfa20/EXPORTCLASS.ipch
/.vs/HyTestBuilder/v16/ipch/AutoPCH/ce167d3d18381c26/SLAVEREADMANAGER.ipch
/.vs/HyTestBuilder/v16/ipch/AutoPCH/d0d7c76e6da4d799/NICCONFIGSYSTEM.ipch
/Test/bin/log/2019-10-11.txt
/Test/bin/log/2019-10-16.txt
/Test/bin/log/2019-10-17.txt
/Test/bin/log/2019-10-19.txt
/Test/bin/log/2019-10-22.txt
/Test/bin/log/2019-10-23.txt
