Debug
hiredis.tlog
/RedisHelperCpp/Debug/RedisHelperCpp.tlog
/testConsole/obj
obj
*.opendb
HyTestBuilder.VC.db
*.pdb
IndustrialEthernetEntity.pdb
/TestForm/bin/Debug/*.pdb
*.a
*._
*.nupkg
*.p7s
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.deps.json
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.OpenXmlFormats.deps.json
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.OpenXml4Net.deps.json
/packages/NPOI.2.4.1/lib/netstandard2.0/NPOI.OOXML.deps.json
/packages/NPOI.2.4.1
