<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-2.0" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="textboxAppender" />
      <appender-ref ref="DailyAppender" />
    </root>
    <logger name="Daily.Logging">
      <level value="ALL" />
      <appender-ref ref="textboxAppender" />
    </logger>
    <logger name="MainLog">
      <level value="ALL" />
      <appender-ref ref="textboxAppender" />
      <appender-ref ref="DailyAppender" />
    </logger>
    <appender name="DailyAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="../log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd.'txt'" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d[%p]%n%f%l%n%m%n%n" />
      </layout>
    </appender>
    <appender name="textboxAppender" type="HyTestRTDataService.Utils.TextBoxAppender">
      <FormName value="MainForm" />
      <TextBoxName value="richTextBoxLog" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [ %level ]：  %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MyFirstTestModel" connectionString="data source=127.0.0.1;port=3306;initial catalog=valverig;user id=hterp; password=123456" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>